* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	color:#333;
}
html {
	font-size:20px;
}
.contents_area {
	border:3px dashed darkblue;
	padding:2rem 0;
}

.text-red {
	color: red;
}
.footer-btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 0.2rem;
	font-size: 0.9rem;
	transition: background-color 0.2s ease;
}
.btn:hover {
	background-color: #555;
}

.category_tit {
	text-align:center;
	font-size:1.5rem;
}
.subCategory {
	margin:1rem 0 3rem;
}
.subCategory ul{
	display:flex;
	display:-webkit-flex;
	justify-content: center;
}
.subCategory ul li {
	border-right:1px solid #ccc;
	padding:0 1rem;
	font-size:0.7rem;
	line-height:1;
}
.subCategory ul li:last-child {
	border-right:none;
}


/* ------- product_list ----------*/
.product_list {
	display:flex;
	display:-webkit-flex;
	justify-content: space-between;
	gap:1.5rem 0;
	flex-wrap:wrap;
}
.product_list li {
	width:calc((100% - 3rem) / 3);
	border:1px solid black;
}
.product_list li p {
	font-size:0.8rem;
}
.product_list li p.p_review {
	font-size:0.7rem;
}



/* ---------- 미디어쿼리 --------- */

@media screen and (max-width: 1280px){
	.wrap_1280 {
		width:90%;
	}
}
