* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	color:#333;
}
html {
	font-size:20px;
}
.contents_area {
	border:3px dashed darkblue;
	padding:2rem 0;
}
@media screen and (max-width: 1280px){
	.wrap_1280 {
		width:90%;
	}
}