<div th:fragment="content">
    <h1 class="category_tit" th:text="${subCategory}">KNIT</h1>
    <div class="subCategory">
        <ul>
            <li>
                <a href="#">All</a>
                <a href="coat">코트</a>
                <a href="#">자켓</a>
                <a href="#">수트</a>
                <a href="#">패딩</a>
                <a href="#">가죽</a>
                <a href="#">바람막이</a>
                <a href="#">야상</a>
                <a href="#">데님</a>
            </li>
        </ul>
    </div>
    <div class="product_list_area">
        <ul class="product_list">
            <li>

            </li>
        </ul>
    </div>
</div>