<!-- /WEB-INF/templates/layout/base.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404FOUND</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" th:href="@{/resources/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/fonts.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/popup.css}" />

    <link rel="stylesheet" th:href="@{/resources/css/swiper.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script th:src="@{/resources/js/jquery-3.2.0.min.js}"></script>
    <script th:src="@{/resources/js/swiper.min.js}"></script>

    <script th:src="@{/resources/js/common.js}"></script>
</head>
<body>
<div th:replace="layout/header :: navbar"></div>
<main class="contents_area">
    <div class="wrap_1280">
        <div th:replace="~{page/__${contentPath}__ :: content}"></div>
    </div>
</main>
<div th:insert="~{layout/popup :: popupContent(id='commonModalPopup', title='알림', messageHtml='<p>기본 팝업 메시지입니다.</p>', showCloseBtn=true)}"></div>
<div th:insert="~{layout/popup :: popupContent(id='anotherPopup', title='다른 팝업', messageHtml='<p>다른 페이지에서 사용할 팝업입니다.</p>', showCloseBtn=true)}"></div>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
