
<div th:fragment="popupContent(id, title, messageHtml, showCloseBtn)"
     th:id="${id}"
     class="common-popup-overlay"
     style="visibility: hidden; opacity: 0;">

    <div class="common-popup-content">
        <h2 class="common-popup-title" th:text="${title}">기본 팝업 제목</h2>
        <div class="common-popup-message" th:utext="${messageHtml}">
            <p>팝업 내용이 여기에 표시됩니다.</p>
        </div>

        <button th:if="${showCloseBtn}" class="common-popup-close-button">닫기</button>
    </div>
</div>